.main{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 50%;
    background-color: salmon;
    margin: 0 auto;

}

    h1{
        
        font-weight: bold;
        color: #333;
    }
    button {
        font-size: 20px;
        padding: 10px 20px;
        margin: 20px;
        border: none;
        border-radius: 5px;
        background-color: #4285f4;
        color: #fff;
        cursor: pointer;
      }
      #counter {
        font-size: 50px;
        margin-top: 30px;
      }
